* {
  box-sizing: border-box;
}
header, main, footer {
  width: 960px;
  margin: 0 auto;
}

section{
  border: 1px solid black;
  margin:25px
  
}

section h2 {
  text-align:center; position:relative
}

section h2 span {
  background-color: white; position: relative; top: -10px; padding: 0 10px;
  font-size:20px;
}

/* table, th, td {
  border: 1px solid black;
  font: 20px small-caps bold
} */

table, th{
  margin: 5px;
  padding: 2px 10px;

}


