* {
  box-sizing: border-box;
}
body {
  margin-top: 30px;
}
header, main, footer {
  width: 960px;
  margin: 0 auto;
}
header {
  border-bottom: 1px solid #eee;
  padding-bottom: 15px;
}
h1 {
  font-size: 38px;
  text-align: center;
  font-variant: small-caps;
}
nav ul {
  text-align: center;
  margin-top: 15px;
}
nav li {
  display: inline-block;
  margin: 0 10px;
}
nav a, h1 a {
  text-decoration: none;
}
nav a:hover, nav a:focus {
  color:brown;
}

