/*
colors: 
#583102 darkened mole brown
#aa5c00 mole brown
#9a836a mole beige
#989898 mole claw gray
*/

* {
  box-sizing: border-box;
}
body {
  margin-top: 10px;
  font-family: 'Merriweather Sans', sans-serif;
  line-height: 1.45;
  background-image: url(http://eskipaper.com/images/grass-background-28.jpg);
  font-size: 16px;
  color: #fff;
}
header ,
.scores-page main{
  background-color: rgba(0,0,0, 0.5);
  border-radius: 15px;
}
.scores-page header {
  margin-bottom: 15px;
}
.scores-page main {
  padding-top: 15px;
}
header, main {
  clear: both;
  margin: 0 auto;
  width: 960px;
  color: white;
}
main {
  width: 960px;
}
header {
  padding: 5px 30px;
  overflow: auto;
}
h1 {
  font-size: 38px;
  text-align: center;
  font-variant: small-caps;

}
h2 {
  margin-bottom: 10px;
  font-size: 30px;
  text-align: center;
}
h3 {
  margin-bottom: 0.3em;
  font-size: 22px;
}
p {
  line-height: 1.5;
  margin-bottom: 0.7em;
}
header h1 {
  font-family: frijole, sans-serif;
  display: inline;
}
header h2 {
  clear: both;
  text-align: center;
  margin-top: 10px;
}
nav {
  float: right;
  margin-top: 5px;
}
nav ul {
  text-align: center;
  margin-top: 15px;
}
nav li {
  display: inline-block;
  margin: 0 10px;
}
nav a, h1 a {
  text-decoration: none;
  color: #372a1a;
  color: white;
}
nav a:hover, nav a:focus {
  color:greenyellow;
}

#formPlayerName {
  clear: both;
  text-align: center;
  margin-bottom: 10px;
}
input#playerNameInput ,
button {
  padding: 10px;
  font-size: 1.1rem;
  border-radius: 10px;
  border: 1px solid;
}

#welcome button {
  float: right;
  position: relative;
  top: -60px;
}
#welcome h2 {
  font-size: 20px;
}
button {
  background-color: #583102;
  color: white;
}

button:hover, button:focus ,
button a:hover, button a:focus{
  color: greenyellow;
}
section{
  margin:15px;
  overflow: auto;
  
}
main {
  position: relative;
}
section h2 {
  text-align:center; 
  position:relative
}
section h2 span {
  background-color: white; 
  position: relative; 
  top: -10px; 
  padding: 0 10px;
  font-size:20px;
}
.scores-page table {
  width: 500px;
  margin: 0 auto 25px;
  padding: 2px 10px;
  background-color: rgba(0,0,0, 0.5);
}
th { 
  margin: 5px;
  padding: 10px;
  font-size: 1.2em;
  font-weight: bold;
  text-align: left;
  background-color: rgba(0,0,0, 0.4);
}
th, td {
  border: 3px solid green;
}
td {
  padding: 5px 5px 5px 10px;
}
#leaveScorePage {
  margin-left: 215px;
  margin-bottom: 15px;
}
#leaveScorePage a,
button a {
  text-decoration: none;
  color: white;
}
#leaveScorePage a:hover,
#leaveScorePage a:focus {
  color: greenyellow;
}
#bioS {
  width: 960px;
  margin-left: auto;
  margin-right: auto;
  color: white;
  background-color: rgba(0,0,0, 0.4);
  border-radius: 15px;
  padding: 16px 38px;
  min-height: 155px;
}
#bioS h3 {
  text-align: center;
}
.about-page canvas {
  cursor: pointer;
}

.home-page canvas#game-screen {
  cursor: auto;
}

.home-page canvas#game-screen.apple{
  cursor: pointer;
  cursor: url(../assets/icons/apple.png), pointer; 
}
.home-page canvas#game-screen.avocado{
  cursor: pointer;
  cursor: url(../assets/icons/avocado.png), pointer; 
}
.home-page canvas#game-screen.cherries{
  cursor: pointer;
  cursor: url(../assets/icons/cherries.png), pointer; 
}
.home-page canvas#game-screen.cheese{
  cursor: pointer;
  cursor: url(../assets/icons/cheese.png), pointer; 
}
.home-page canvas#game-screen.cupcake{
  cursor: pointer;
  cursor: url(../assets/icons/cupcake.png), pointer; 
}
.home-page canvas#game-screen.grapes{
  cursor: pointer;
  cursor: url(../assets/icons/grapes.png), pointer; 
}
.home-page canvas#game-screen.hamburger{
  cursor: pointer;
  cursor: url(../assets/icons/hamburger.png), pointer; 
}

.hidden {
  display: none;
}
#game-over {
  position: absolute;
  padding: 20px;
  border-radius: 15px;
  top: 20px;
  padding-top: 100px;
  width: 960px;
  height: 560px;
  background-color: rgba(0,0,0, 0.5);
}
#game-over h2 {
  font-family: frijole, 'Merriweather Sans', sans-serif;
  font-size: 40px;
  color: greenyellow;
}
#game-over p {
  text-align: center;
  margin-bottom: 20px;
  font-size: 24px;
}
#game-over-buttons {
  width: 409px;
  margin-left: auto;
  margin-right: auto;
}
#game-over-buttons button {
  margin-right: 25px;
}

#game-over-buttons button:last-of-type {
  margin-right: 0;
}